{% extends "base.html" %}

{% block content %}
<div class="p-2">
<h1>Регистрация</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div id="code_input" hidden>
        {{ form.code.label  }}<br>
        {{ form.code(class="form-control") }}<br>
        {% for error in form.code.errors %}
            <p class="alert alert-danger" role="alert" id="code_error">
                {{ error }}
            </p>
        {% endfor %}
        </div>
        <button type="button" class="btn btn-primary" onclick="send_code()">Отправить код</button>
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control", type="password") }}<br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
</div>
<script>
    document.getElementById("code_input").hidden = true;

    function send_code() {
        document.getElementById("code_input").hidden = false;
        if (document.getElementById("email").value == "") {
            document.getElementById('code_error').innerHTML = "Поле email не может быть пустым"
            return
        }
        xmlhttp_send_code = new XMLHttpRequest();
        xmlhttp_send_code.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 429) {
                document.getElementById('code_error').innerHTML = "Слишком много запросов"
            }
        }
        xmlhttp_send_code.open( "POST", "/api/send_code/" + document.getElementById("email").value, true );
        xmlhttp_send_code.send();
    }
</script>
{% endblock %}