{% extends "base.html" %}

{% block content %}
<div class="p-2">
    <h1>Регистрация</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.code.label }}<br>
            {{ form.code(class="form-control") }}<br>
            {% for error in form.code.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        <button type="button" class="btn btn-primary" onclick="send_code()">Отправить код</button>
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.password_again.label }}<br>
            {{ form.password_again(class="form-control", type="password") }}<br>
            {% for error in form.password_again.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}

        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
</div>
<script>
    function send_code() {
        if (document.getElementById("email").value == "") {
            alert("Email не может быть пустым");
            return
        }
        xmlhttp_send_code = new XMLHttpRequest();
        xmlhttp_send_code.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 429) {
                alert('Слишком много запросов. Попробуйте позже')
            } else if (this.readyState == 4 && this.status == 404) {
                alert(this.responseText)
            }
        }
        xmlhttp_send_code.open( "POST", "/api/generate_code/" + document.getElementById("email").value, true );
        xmlhttp_send_code.send();
    }

</script>
{% endblock %}