{% extends "base.html" %}
{% block content %}
<div class="p-2">
    <button class="btn bg-light text-secondary p-2" {% if current_user.is_authenticated %} onclick="add_news()" {% else
            %} onclick="alert('Войдите в аккаунт')" {% endif %}>Новая публикация
    </button>
    <div class="d-flex flex-wrap-reverse p-2 " id="news_container">
    </div>
</div>
<script src="/static/js/generate_news_card.js"></script>
<script src="/static/js/news_card_modes.js"></script>
<script src="/static/js/graph_select.js"></script>
<script src="/static/js/save_news.js"></script>
<script src="/static/js/delete_news.js"></script>
<script src="/static/js/add_news.js"></script>
<script src="/static/js/add_all_news.js"></script>
{% endblock %}